/* RegisterPage.css */

.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* padding: 20px; */
  background-color: #f9f9f9;
}

.register-container {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 50px;
}
.register-container h1{
  text-align: center;
}

.form-group {
  margin: 10px;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.buttonParent{
  width: 100%;
  display: flex;
  justify-content: center;
}

.registerButton {
  width: 30%;
  padding: 10px;
  background-color: #712cf9;
  /* background-color: #4c0bce; */
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  transition-duration: 1s;
}

.registerButton:hover {
  background-color: #4c0bce;
  
}

.error-message {
  color: red;
  margin-top: 10px;
}